<template>
    <div>
        <div
            @click="handleClick(backpack.name)"
            class="w-full flex flex-col items-center"
            v-for="(backpack, index) in backpacks"
            :key="index"
        >
            <div
                :ref="backpack.name"
                class="w-5/6 md:w-full flex rounded-lg shadow hover:shadow-lg hover:bg-orange-100 cursor-pointer px-4 py-6 mb-4"
            >
                <div class="w-1/3 flex justify-center">
                    <div class="w-9/12 md:w-6/12">
                        <img class="w-auto" style="height: 164px" :src="backpack.url" alt />
                    </div>
                </div>
                <div class="w-1/3">
                    <h2 class="text-lg md:text-xl">{{ backpack.name }}</h2>
                    <h1 class="text-2xl md:text-3xl font-semibold">{{ getCapacity(backpack.name) }}</h1>
                </div>
                <div class="w-1/3">
                    <transition
                        @before-enter="beforeEnterCheck"
                        @enter="enterCheck"
                        @leave="leaveCheck"
                        :css="false"
                    >
                        <div
                            v-if="index === backpackIndexURL"
                            class="w-full h-full bg-orange-100 flex justify-center items-center"
                        >
                            <font-awesome-icon size="2x" icon="check-circle" />
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { State } from 'vuex-class'
import { Watch, Prop } from 'vue-property-decorator'
import { IURLState, ICategoriesState } from './store/types'
import anime from 'animejs'

@Component
export default class App extends Vue {
    @Prop({ default: null }) existingCapacity: { backpack: number }

    mounted() {
        setTimeout(() => {
            if (
                this.existingCapacity !== undefined &&
                this.existingCapacity !== null
            ) {
                const [
                    category,
                ] = this.Categories_State.categories.backpacks.filter(
                    category =>
                        category.capacity === this.existingCapacity.backpack
                )
                if (category === undefined) return
                this.name = category.name
                const [el] = this.$refs[this.name]
                this.beforeEnterAnimation(el)
            }
        }, 0.000001)
    }

    @State('URLS') URLS_State: IURLState
    @State('Categories') Categories_State: ICategoriesState

    $refs: {
        [key: string]: Array<HTMLElement>
    }

    name: string | null = null

    @Watch('name')
    watchBackpackIndex(val: string, oldVal: string) {
        if (oldVal !== null && oldVal !== undefined) {
            const [el] = this.$refs[oldVal]
            this.beforeLeaveAnimation(el)
        }
    }

    get backpacks() {
        return this.URLS_State.urls.backpacks
    }

    get backpackIndexURL(): number {
        if (this.name === null) return -1
        const [backpack] = this.Categories_State.categories.backpacks.filter(
            category => category.name === this.name
        )
        if (backpack === undefined) return -1
        const index = this.backpacks.findIndex(
            category => category.name === backpack.name
        )
        if (index === undefined) return -1
        return index
    }

    get backpackIndexURLCat(): number {
        if (this.name === null) return -1
        const index = this.Categories_State.categories.backpacks.findIndex(
            category => category.name === this.name
        )
        if (index === undefined) return -1
        return index
    }

    getCapacity(name: string): number {
        const [backpack] = this.Categories_State.categories.backpacks.filter(
            backpack => backpack.name == name
        )
        if (backpack === undefined) return 0
        return backpack.capacity
    }

    handleClick(name: string): void {
        this.name = name
        const [el] = this.$refs[this.name]
        this.beforeEnterAnimation(el)
        this.$emit('output', {
            backpack: this.Categories_State.categories.backpacks[
                this.backpackIndexURLCat
            ],
        })
    }

    // Animation
    // 1. Backpack
    beforeEnterAnimation(el: HTMLElement) {
        el.style.transform = 'scale(0.7)'
        this.enterAnimation(el)
    }
    enterAnimation(el: HTMLElement) {
        anime({
            targets: el,
            scale: 1.1,
            backgroundColor: '#FFFAF0',
        })
    }
    beforeLeaveAnimation(el: HTMLElement) {
        el.style.transform = 'scale(1.1)'
        this.leaveAnimation(el)
    }
    leaveAnimation(el: HTMLElement) {
        anime({
            targets: el,
            scale: 1,
            backgroundColor: '#FFFFFF',
        })
    }
    // 2. Check
    beforeEnterCheck(el: HTMLElement) {
        el.style.opacity = '0'
        el.style.transform = 'scale(0.7)'
    }
    enterCheck(el: HTMLElement, done: Function) {
        anime({
            targets: el,
            opacity: 1,
            scale: 1,
            complete: done(),
            delay: 500,
        })
    }
    leaveCheck(el: HTMLElement, done: Function) {
        anime({
            targets: el,
            opacity: 0,
            scale: 0.7,
            complete: () => {
                setTimeout(() => {
                    done()
                }, 1000)
            },
        })
    }
}
</script>