<template>
    <div>
        <div
            class="w-full flex flex-col items-center"
            v-for="(barrel, index) in barrels"
            :key="index"
        >
            <item
                category="barrel"
                :existingNumber="getExistingNumber(barrel.name)"
                :existingTotalCapacity="existingTotalCapacity"
                :existingTotalWeight="existingTotalWeight"
                :steps="1"
                :index="index"
                :item="barrel"
                @output="handleOutput"
            ></item>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'
import { IURLState } from '../categories/store/types'
import Item from '../components/Item.vue'

@Component({
    components: {
        Item,
    },
})
export default class App extends Vue {
    @Prop() existing: {
        barrel: { name: string; number: number }[]
    }
    @Prop({ default: 70 }) existingTotalCapacity: number
    @Prop({ default: 0 }) existingTotalWeight: number

    @State('URLS') URLS_State: IURLState

    get barrels() {
        return this.URLS_State.urls.barrel
    }

    get existingBarrels() {
        if (this.existing === null || this.existing.barrel === undefined)
            return []
        return this.existing.barrel
    }

    handleOutput(output: any) {
        this.$emit('output', output)
    }

    getExistingNumber(name: string): number | null {
        if (this.existingBarrels.length === 0) return null
        const [selection] = this.existingBarrels.filter(
            barrel => barrel.name === name
        )
        if (selection === undefined) return null
        return selection.number
    }
}
</script>