<template>
    <div>
        <div
            class="w-full flex flex-col items-center"
            v-for="(bullet, index) in bullets"
            :key="index"
        >
            <item
                category="bullets"
                :existingNumber="getExistingNumber(bullet.name)"
                :existingTotalCapacity="existingTotalCapacity"
                :existingTotalWeight="existingTotalWeight"
                :index="index"
                :item="bullet"
                @output="handleOutput"
            ></item>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'
import { IURLState } from '../categories/store/types'
import Item from '../components/Item.vue'

@Component({
    components: {
        Item,
    },
})
export default class App extends Vue {
    @Prop() existing: {
        bullets: { name: string; number: number }[]
    }
    @Prop({ default: 70 }) existingTotalCapacity: number
    @Prop({ default: 0 }) existingTotalWeight: number

    @State('URLS') URLS_State: IURLState

    get bullets() {
        return this.URLS_State.urls.bullets
    }
    get existingBullets() {
        if (this.existing === null || this.existing.bullets === undefined)
            return []
        return this.existing.bullets
    }

    handleOutput(output: any) {
        this.$emit('output', output)
    }

    getExistingNumber(name: string): number | null {
        if (this.existingBullets.length === 0) return null
        const [selection] = this.existingBullets.filter(
            bullets => bullets.name === name
        )
        if (selection === undefined) return null
        return selection.number
    }
}
</script>