<template>
    <div>
        <div
            class="w-full flex flex-col items-center"
            v-for="(magazine, index) in magazines"
            :key="index"
        >
            <item
                category="magazines"
                :existingNumber="getExistingNumber(magazine.name)"
                :existingTotalCapacity="existingTotalCapacity"
                :existingTotalWeight="existingTotalWeight"
                :steps="1"
                :index="index"
                :item="magazine"
                @output="handleOutput"
            ></item>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'
import { IURLState } from '../categories/store/types'
import Item from '../components/Item.vue'

@Component({
    components: {
        Item,
    },
})
export default class App extends Vue {
    @Prop() existing: {
        magazines: { name: string; number: number }[]
    }
    @Prop({ default: 70 }) existingTotalCapacity: number
    @Prop({ default: 0 }) existingTotalWeight: number

    @State('URLS') URLS_State: IURLState

    get magazines() {
        return this.URLS_State.urls.magazines
    }

    get existingMagazines() {
        if (this.existing === null || this.existing.magazines === undefined)
            return []
        return this.existing.magazines
    }

    handleOutput(output: any) {
        this.$emit('output', output)
    }

    getExistingNumber(name: string): number | null {
        if (this.existingMagazines.length === 0) return null
        const [selection] = this.existingMagazines.filter(
            magazine => magazine.name === name
        )
        if (selection === undefined) return null
        return selection.number
    }
}
</script>