<template>
    <div>
        <div
            class="w-full flex flex-col items-center"
            v-for="(scope, index) in scopes"
            :key="index"
        >
            <item
                category="scopes"
                :existingNumber="getExistingNumber(scope.name)"
                :existingTotalCapacity="existingTotalCapacity"
                :existingTotalWeight="existingTotalWeight"
                :steps="1"
                :index="index"
                :item="scope"
                @output="handleOutput"
            ></item>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'
import { IURLState } from '../categories/store/types'
import Item from '../components/Item.vue'

@Component({
    components: {
        Item,
    },
})
export default class App extends Vue {
    @Prop() existing: {
        scopes: { name: string; number: number }[]
    }
    @Prop({ default: 70 }) existingTotalCapacity: number
    @Prop({ default: 0 }) existingTotalWeight: number

    @State('URLS') URLS_State: IURLState

    get scopes() {
        return this.URLS_State.urls.scopes
    }

    get existingScopes() {
        if (this.existing === null || this.existing.scopes === undefined)
            return []
        return this.existing.scopes
    }

    handleOutput(output: any) {
        this.$emit('output', output)
    }

    getExistingNumber(name: string): number | null {
        if (this.existingScopes.length === 0) return null
        const [selection] = this.existingScopes.filter(
            scope => scope.name === name
        )
        if (selection === undefined) return null
        return selection.number
    }
}
</script>