<template>
    <transition
        @before-enter="beforeAnimation"
        @enter="enterAnimation"
        @leave="leaveAnimation"
        :css="false"
    >
        <div
            v-if="loading"
            class="fixed top-0 left-0 w-screen h-screen z-20 bg-gray-100 flex flex-col justify-center items-center"
        >
            <img class="w-32 mb-4" src="@/assets/logo.svg" alt />
            <span class="mb-8 text-lg">Loading..</span>
            <font-awesome-icon size="3x" icon="sync" spin />
        </div>
    </transition>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import anime from 'animejs'

@Component
export default class App extends Vue {
    // Props
    @Prop({ default: false }) loading: boolean

    animationDefaults = {
        duration: 400,
        easing: 'cubicBezier(0.4, 0.0, 0.2, 1)',
    }

    beforeAnimation(el: HTMLElement) {
        el.style.opacity = '0'
    }
    enterAnimation(el: HTMLElement, done: Function) {
        anime({
            targets: el,
            opacity: 1,
            complete: done(),
            ...this.animationDefaults,
        })
    }
    leaveAnimation(el: HTMLElement, done: Function) {
        anime({
            targets: el,
            opacity: 0,
            complete: done(),
            ...this.animationDefaults,
        })
    }
}
</script>