<template>
    <div class="w-10/12 rounded-lg shadow-md flex justify-around items-center my-4">
        <span class="w-16 p-4">
            <img class="w-full" :src="imgURL" />
        </span>
        <span class="p-4">{{details.name}}</span>
        <span class="p-4">{{ details.number}}</span>
        <span class="p-4">{{ weight}}</span>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'
import {
    IURLState,
    ICategoriesState,
    IItem as INativeItem,
} from '../../Manager/categories/store/types'

interface IItem {
    id: number
    name: string
    number: number
    category: string
}

@Component
export default class App extends Vue {
    // Props
    @Prop({
        default: () => ({
            name: '9mm',
            number: 11,
            category: 'bullets',
        }),
    })
    details: IItem

    @State('URLS') URLS_STATE: IURLState

    @State('Categories') CATEGORIES_STATE: ICategoriesState

    get imgURL(): string {
        const [url] = this.URLS_STATE.urls[this.details.category].filter(
            item => item.name === this.details.name
        )
        if (url) {
            if (url.url != null) {
                return url.url
            } else {
                return ''
            }
        } else {
            return ''
        }
    }

    get weight(): number {
        const categoryArr = this.CATEGORIES_STATE.categories[
            this.details.category
        ] as INativeItem[]

        const [category] = categoryArr.filter(
            item => item.name === this.details.name
        )

        if (category) {
            const weight = category.weight * this.details.number
            return weight
        } else {
            return 0
        }
    }
}
</script>