<template>
    <div class="flex flex-col">
        <div
            @click="toogleShow"
            class="flex items-center hover:bg-gray-200 px-4 py-3 rounded-lg cursor-pointer"
        >
            <h1 class="text-2xl text-gray-600">Attributions</h1>
            <span class="text-gray-600 hover:text-gray-500 ml-6 p-2">
                <font-awesome-icon size="lg" icon="chevron-down" />
            </span>
        </div>
        <transition-group name="fade" class="flex flex-wrap">
            <div v-if="show" key="1" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="2" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="3" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/flat-icons"
                    title="Flat Icons"
                >Flat Icons</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="4" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/smalllikeart"
                    title="smalllikeart"
                >smalllikeart</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="5" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/nhor-phai"
                    title="Nhor Phai"
                >Nhor Phai</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="6" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="7" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/nhor-phai"
                    title="Nhor Phai"
                >Nhor Phai</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="8" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="9" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/smashicons"
                    title="Smashicons"
                >Smashicons</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="10" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/smashicons"
                    title="Smashicons"
                >Smashicons</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="11" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="12" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/photo3idea-studio"
                    title="photo3idea_studio"
                >photo3idea_studio</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="13" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="14" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="15" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="16" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/pixelmeetup"
                    title="Pixelmeetup"
                >Pixelmeetup</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="17" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="18" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/skyclick"
                    title="Skyclick"
                >Skyclick</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="19" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                >Freepik</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="20" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/vectors-market"
                    title="Vectors Market"
                >Vectors Market</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="21" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/nhor-phai"
                    title="Nhor Phai"
                >Nhor Phai</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="22" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/photo3idea-studio"
                    title="photo3idea_studio"
                >photo3idea_studio</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
            <div v-if="show" key="23" class="w-full md:w-1/3 p-2">
                Icons made by
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/authors/darius-dan"
                    title="Darius Dan"
                >Darius Dan</a> from
                <a
                    class="text-orange-500"
                    href="https://www.flaticon.com/"
                    title="Flaticon"
                >www.flaticon.com</a>
            </div>
        </transition-group>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class App extends Vue {
    show = false
    toogleShow() {
        this.show = !this.show
    }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>