<template>
    <div class="flex flex-wrap w-full">
        <div class="flex justify-between w-full">
            <div class="w-1/5 flex">
                <img class="w-full h-auto" :src="vestURL.url" alt />
            </div>
            <div class="w-1/5 flex justify-center items-center">
                <font-awesome-icon size="2x" icon="plus" />
            </div>
            <div class="w-1/5 flex">
                <img class="w-full h-auto" :src="backpackURL.url" alt />
            </div>
        </div>
        <div class="flex justify-between w-full mt-4">
            <div class="w-1/5 flex justify-center items-center">{{ vestURL.name }}</div>
            <div class="w-1/5 flex"></div>
            <div class="w-1/5 flex justify-center items-center">{{ backpackURL.name }}</div>
        </div>
        <div class="flex justify-center w-full my-6">
            <button
                class="text-lg bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
                @click="goToSummary"
            >Check Summary</button>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'
import { IURLState, ICategoriesState } from '../categories/store/types'

@Component
export default class App extends Vue {
    @Prop() vestCapacity: number
    @Prop() backpackCapacity: number

    @State('URLS') URLS: IURLState
    @State('Categories') Categories_State: ICategoriesState

    get avatarURL() {
        return this.URLS.urls.character[this.backpackIndex]
    }

    get vestURL() {
        return this.URLS.urls.vests[this.vestIndex]
    }

    get backpackURL() {
        return this.URLS.urls.backpacks[this.backpackIndex]
    }

    get vestIndex(): number {
        if (this.vestCapacity === null || this.vestCapacity === undefined)
            return 0
        const index = this.Categories_State.categories.vests.findIndex(
            vest => vest.capacity === this.vestCapacity
        )
        if (index === undefined) return 0
        return index
    }

    get backpackIndex(): number {
        if (
            this.backpackCapacity === null ||
            this.backpackCapacity === undefined
        )
            return 0
        const [category] = this.Categories_State.categories.backpacks.filter(
            backpack => backpack.capacity === this.backpackCapacity
        )
        if (category === undefined) return 0
        const index = this.URLS.urls.backpacks.findIndex(
            backpacks => backpacks.name === category.name
        )
        if (index === undefined) return 0
        return index
    }

    goToSummary(): void {
        this.$router.push('/ad')
    }
}
</script>