<template>
    <div :ref="999" class="flex h-16 w-full py-4 px-6 overflow-x-auto overflow-y-hidden">
        <div
            @click="handleClick(index)"
            :ref="index"
            class="mx-6"
            v-for="(category, index) in categories"
            :key="`i-${index}`"
        >
            <router-link
                tag="a"
                class="text-lg text-gray-500 focus:outline-none"
                :to="{ name: category.route}"
                active-class="active"
                exact
            >
                <span>{{ category.title }}</span>
            </router-link>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import anime from 'animejs'

@Component
export default class App extends Vue {
    categories = [
        {
            route: 'backpacks',
            title: 'Backpacks',
        },
        {
            route: 'vests',
            title: 'Vests',
        },
        {
            route: 'bullets',
            title: 'Bullets',
        },
        {
            route: 'scopes',
            title: 'Scopes',
        },
        {
            route: 'medkits',
            title: 'Medkits',
        },
        {
            route: 'boost',
            title: 'Boost',
        },
        {
            route: 'throwables',
            title: 'Throwables',
        },
        {
            route: 'barrel',
            title: 'Barrels',
        },
        {
            route: 'magazines',
            title: 'Magazines',
        },
        {
            route: 'muzzle',
            title: 'Muzzle',
        },
        {
            route: 'stocks',
            title: 'Stocks',
        },
    ]
    $refs: {
        [key: number]: Array<HTMLElement>
    }
    categoryIndex: number = 0

    @Watch('categoryIndex')
    categoryHandler(val: number, oldVal: number) {
        if (oldVal) {
            const [el] = this.$refs[oldVal]
            this.beforeLeaveAnimation(el)
        }
    }

    handleClick(index: number) {
        this.categoryIndex = index
        const [el] = this.$refs[this.categoryIndex]
        this.beforeEnterAnimation(el)
    }

    // Animation
    beforeEnterAnimation(el: HTMLElement) {
        el.style.transform = 'scale(0.7)'
        this.enterAnimation(el)
    }
    enterAnimation(el: HTMLElement) {
        anime({
            targets: el,
            scale: 1.2,
        })
    }
    beforeLeaveAnimation(el: HTMLElement) {
        el.style.transform = 'scale(1.2)'
        this.leaveAnimation(el)
    }
    leaveAnimation(el: HTMLElement) {
        anime({
            targets: el,
            scale: 1,
        })
    }
}
</script>

<style scoped>
.active {
    color: #1a202c;
}
</style>