<template>
    <div class="w-full flex justify-center">
        <donut-chart :chart-data="dataCollection" :options="options"></donut-chart>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import DonutChart from './DonutChart.vue'
import { IItem } from '../categories/store/types'
import randomColor from 'randomcolor'

interface Selection {
    // [key: string]: any
    barrel?: IItem[]
    scopes?: IItem[]
    stocks?: IItem[]
    muzzle?: IItem[]
    throwables?: IItem[]
    bullets?: IItem[]
}

interface Capacity {
    // [key: string]: any
    body: number
    belt: number
    vest: number
    backpack: number
}

@Component({
    components: {
        DonutChart,
    },
})
export default class App extends Vue {
    @Prop(Object) readonly selection: Selection
    @Prop(Object) readonly capacity: Capacity
    totalCapacity = 0
    totalWeight = 0

    color1 = randomColor()
    color2 = randomColor()

    get dataCollection() {
        // initial
        const labels = ['Free Space']
        const datasets = [
            {
                backgroundColor: [randomColor()],
                data: [this.totalCapacity - this.totalWeight],
            },
        ]
        // selection
        if (this.selection) {
            for (const iterator of Object.entries(this.selection)) {
                iterator[1].forEach((item: IItem) => {
                    labels.push(item.name)
                    datasets[0].backgroundColor.push(randomColor())
                    datasets[0].data.push(item.weight)
                })
            }
        }
        return {
            labels: labels,
            datasets: datasets,
        }
    }

    options = {
        responsive: true,
        maintainAspectRatio: false,
        animation: {
            animateRotate: false,
        },
        legend: {
            position: 'bottom',
        },
    }

    @Watch('capacity', { deep: true, immediate: true })
    watchCapacity(val: Capacity, oldVal: Capacity) {
        this.totalCapacity = 0
        for (const iterator of Object.entries(this.capacity)) {
            this.totalCapacity += iterator[1]
        }
    }
    @Watch('selection', { deep: true })
    watchSelection(val: Capacity, oldVal: Capacity) {
        this.totalWeight = 0
        for (const iterator of Object.entries(this.selection)) {
            iterator[1].forEach(
                (item: IItem) => (this.totalWeight += item.weight)
            )
        }
    }
}
</script>