<template>
    <div class="flex w-full">
        <div class="w-0"></div>
        <div class="w-full flex flex-col items-center">
            <!-- Guest -->
            <section>
                <div class="flex justify-center mb-4">
                    <button
                        class="bg-orange-500 hover:bg-orange-700 w-64 text-black font-bold py-2 px-4 rounded focus:outline-none"
                        @click="goToGuest"
                    >Continue as Guest</button>
                </div>
                <article class="flex justify-center">
                    <ul class="list-disc">
                        <li>Free</li>
                        <li>Offline Access</li>
                        <li>Access on only one browser</li>
                        <li>Supported by Ads</li>
                    </ul>
                </article>
            </section>
            <!-- Divider -->
            <div class="flex justify-center">
                <span class="w-64 border border-gray-400 block my-8"></span>
            </div>
            <!-- Premium -->
            <section class="bg-gray-100 p-4 max-w-xs w-full">
                <div class="flex justify-center mb-4">
                    <button
                        class="bg-gray-400 w-64 text-black font-bold py-2 px-4 rounded focus:outline-none cursor-not-allowed"
                    >Continue as Premium</button>
                </div>
                <article class="flex justify-center mb-4">
                    <ul class="list-disc">
                        <li>Everything in Guest</li>
                        <li>Login From Any Device</li>
                        <li>No Ads</li>
                    </ul>
                </article>
                <span class="flex justify-center">
                    <h1 class="text-2xl">Coming Soon</h1>
                </span>
            </section>
        </div>
        <div class="w-0"></div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class App extends Vue {
    guestRoute = '/guest'

    goToGuest(): void {
        this.$router.push(this.guestRoute)
    }
}
</script>