<template>
    <div class="flex w-full">
        <div class="w-0"></div>
        <div class="w-full flex flex-col items-center">
            <!-- Guest -->
            <section class="w-10/12 md:w-2/3 lg:w-1/3">
                <form class="flex flex-col w-full">
                    <label for="firstName">First Name</label>
                    <input
                        v-model="firstName"
                        class="bg-gray-200 rounded-sm h-10 px-2 py-1 mb-4"
                        name="firstName"
                        id="firstName"
                        minlength="4"
                        maxlength="30"
                        type="text"
                        required
                    />
                    <label for="lastName">Last Name</label>
                    <input
                        v-model="lastName"
                        class="bg-gray-200 rounded-sm h-10 px-2 py-1"
                        name="lastName"
                        id="lastName"
                        minlength="4"
                        maxlength="30"
                        type="text"
                    />
                </form>
            </section>

            <button
                @click="submit"
                class="fixed bottom-0 mb-10 md:mb-64 bg-orange-500 hover:bg-orange-700 w-64 text-black font-bold py-2 px-4 rounded focus:outline-none"
            >Continue</button>
        </div>
        <div class="w-0"></div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Action } from 'vuex-class'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
import { offlineDB } from '@/app/User/offline/db'
import { IUser } from '@/app/User/types/user/user'

@Component({
    validations: {
        firstName: {
            required,
            minLength: minLength(3),
            maxLength: maxLength(30),
        },
        lastName: {
            minLength: minLength(3),
            maxLength: maxLength(30),
        },
    },
})
export default class App extends Vue {
    firstName = ''
    lastName = ''
    created() {
        // this.$router.push('/app').catch(er => console.log(er))
    }

    @Action('saveGuestUser', { namespace: 'User' }) SAVE_GUEST_USER: (
        payload: IUser
    ) => Promise<void>

    // Methods
    async submit(): Promise<void> {
        try {
            if (!this.$v.$invalid) {
                if (this.lastName.length > 0) {
                    await this.SAVE_GUEST_USER({
                        firstName: this.firstName,
                        lastName: this.lastName,
                    })
                    this.$router.push('/app').catch(error => {
                        console.log(
                            'Error Creating and Loggining in new user',
                            error
                        )
                    })
                } else {
                    await this.SAVE_GUEST_USER({ firstName: this.firstName })
                    this.$router.push('/app').catch(error => {
                        console.log(
                            'Error Creating and Loggining in new user',
                            error
                        )
                    })
                }
            } else {
                console.log('Error: Guest Form')
            }
        } catch (error) {
            console.log(error)
        }
    }
}
</script>