 <template>
    <div>
        <header class="w-full flex justify-center">
            <div class="flex items-center">
                <span
                    class="user-icon p-4 bg-orange-500 rounded-full flex justify-center items-center"
                >
                    <font-awesome-icon size="3x" icon="user-astronaut"></font-awesome-icon>
                </span>
                <span class="ml-4">
                    <h1 class="text-2xl font-semibold" v-if="userNames.first">{{ userNames.first }}</h1>
                    <h1 class="text-2xl font-semibold" v-if="userNames.last">{{ userNames.last }}</h1>
                </span>
            </div>
        </header>
        <main class="flex flex-wrap">
            <section class="w-full sm:w-full md:w-1/2 lg:w-1/3 my-4 p-4">
                <h2 class="text-xl font-sans font-medium">Bullets</h2>
                <span v-if="bullets.length === 0">
                    <h3 class="text-sm">No Bullets Were Selected</h3>
                </span>
                <div>
                    <item v-for="(item, index) in bullets" :details="item" :key="index"></item>
                </div>
            </section>
            <section class="w-full sm:w-full md:w-1/2 lg:w-1/3 my-4 p-4">
                <h2 class="text-xl font-sans font-medium">Attachments</h2>
                <span v-if="attachments.length === 0">
                    <h3 class="text-sm">No Attachments Were Selected</h3>
                </span>
                <div>
                    <item v-for="(item, index) in attachments" :details="item" :key="index"></item>
                </div>
            </section>
            <section class="w-full sm:w-full md:w-1/2 lg:w-1/3 my-4 p-4">
                <h2 class="text-xl font-sans font-medium">Health</h2>
                <span v-if="health.length === 0">
                    <h3 class="text-sm">No Health Items Were Selected</h3>
                </span>
                <div>
                    <item v-for="(item, index) in health" :details="item" :key="index"></item>
                </div>
            </section>
            <section class="w-full sm:w-full md:w-1/2 lg:w-1/3 my-4 p-4">
                <h2 class="text-xl font-sans font-medium">Throwables</h2>
                <span v-if="throwables.length === 0">
                    <h3 class="text-sm">No Throwable Items Were Selected</h3>
                </span>
                <div>
                    <item v-for="(item, index) in throwables" :details="item" :key="index"></item>
                </div>
            </section>
        </main>
        <!-- Hovering Back Button -->
        <span
            @click="goToApp"
            class="fixed right-0 bottom-0 mr-2 mb-2 text-lg bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-lg w-40 flex items-center justify-center cursor-pointer"
        >
            <span>
                <font-awesome-icon size="2x" icon="chevron-left"></font-awesome-icon>
            </span>
            <span>Go To App</span>
        </span>
    </div>
</template>
 
 <script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State, Action } from 'vuex-class'
import Item from './components/Item.vue'
import { ISelectionState } from './types/selection/selection'
import { IUserState } from './types/user/user'

@Component({
    components: {
        Item,
    },
})
export default class App extends Vue {
    @State('Selection') SELECTION_STATE: ISelectionState
    @State('User') USER_STATE: IUserState

    @Action('getURLS', { namespace: 'URLS' })
    getURLS: () => Promise<void>

    created() {
        this.init()
    }

    loading: boolean = false

    get userNames() {
        if (!this.USER_STATE.user) {
            return {
                first: null,
                last: null,
            }
        }
        const first = this.USER_STATE.user.firstName
        const last = this.USER_STATE.user.lastName
            ? this.USER_STATE.user.lastName
            : null
        return { first, last }
    }

    get selection() {
        return this.SELECTION_STATE.selection
    }

    get bullets() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.bullets === undefined
        )
            return []
        return this.selection.weights.bullets
    }

    get attachments() {
        console.log(this.magazines)
        return Array.prototype.concat(
            this.muzzle,
            this.barrel,
            this.stocks,
            this.scopes,
            this.magazines
        )
    }

    get health() {
        return Array.prototype.concat(this.medkits, this.boost)
    }

    get muzzle() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.muzzle === undefined
        )
            return []
        return this.selection.weights.muzzle
    }

    get barrel() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.barrel === undefined
        )
            return []
        return this.selection.weights.barrel
    }

    get stocks() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.stocks === undefined
        )
            return []
        return this.selection.weights.stocks
    }

    get scopes() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.scopes === undefined
        )
            return []
        return this.selection.weights.scopes
    }

    get magazines() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.magazines === undefined
        )
            return []
        return this.selection.weights.magazines
    }

    get medkits() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.medkits === undefined
        )
            return []
        return this.selection.weights.medkits
    }

    get boost() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.boost === undefined
        )
            return []
        return this.selection.weights.boost
    }

    get throwables() {
        if (
            this.selection === undefined ||
            this.selection.weights === undefined ||
            this.selection.weights.throwables === undefined
        )
            return []
        return this.selection.weights.throwables
    }

    async init() {
        this.loading = true
        try {
            await this.getURLS()
            this.loading = false
        } catch (error) {
            console.log(error)
            this.loading = false
        }
    }

    goToApp() {
        this.$router.push('/app')
    }
}
</script>

<style lang="css" scoped>
.user-icon {
    width: 110px;
    height: 110px;
}
</style>