<template>
    <div id="app">
        <div class="flex justify-center my-8">
            <div class="flex flex-col sm:flex-col md:flex-row items-center">
                <div>
                    <img class="w-10" src="@/assets/logo.svg" alt />
                </div>
                <div class="ml-4 mt-2 flex flex-col sm:flex-col md:flex-row items-center">
                    <span class="text-lg text-gray-700">PubPackr</span>
                    <span class="hidden sm:hidden md:block text-lg text-gray-700 mx-2">|</span>
                    <span class="text-sm text-gray-700">Backpack Manager For PUBG</span>
                </div>
            </div>
        </div>
        <transition
            mode="out-in"
            v-on:before-enter="beforeEnter"
            v-on:enter="enter"
            v-on:leave="leave"
            v-bind:css="false"
        >
            <router-view />
        </transition>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Action, State } from 'vuex-class'
import anime from 'animejs'
import { IUser, IUserState } from './app/User/types/user/user'

@Component
export default class App extends Vue {
    @State('User') USER_STATE: IUserState

    @Action('getUser', { namespace: 'User' })
    getOfflineUser: () => Promise<IUser>

    animationDefaults = {
        duration: 400,
        easing: 'cubicBezier(0.4, 0.0, 0.2, 1)',
    }

    created() {
        this.getOfflineUser().then(() => {
            if (this.USER_STATE.user && this.USER_STATE.user.firstName) {
                this.$router.push('/app')
            }
        })
    }

    // Animation
    beforeEnter(el: HTMLElement) {
        el.style.opacity = '0'
    }

    enter(el: HTMLElement, done: Function) {
        anime({
            targets: el,
            opacity: 1,
            ...this.animationDefaults,
            complete() {
                setTimeout(() => {
                    done()
                }, 100)
            },
        })
    }

    leave(el: HTMLElement, done: Function) {
        anime({
            targets: el,
            opacity: 0,
            ...this.animationDefaults,
            complete() {
                setTimeout(() => {
                    done()
                }, 100)
            },
        })
    }
}
</script>

<style>
html {
    scroll-behavior: smooth;
}
</style>
