<template>
    <Footer class="bg-gray-100 mt-10">
        <div class="flex flex-wrap h-auto md:h-48 pt-6">
            <div class="w-1/2 md:w-1/3 flex justify-center">
                <section class="p-4">
                    <h1 class="text-2xl font-serif">Resources</h1>
                    <ul class="list-disc">
                        <li>
                            <router-link class="text-orange-500 hover:text-orange-700" to="/">Home</router-link>
                        </li>
                        <li>
                            <router-link class="text-orange-500 hover:text-orange-700" to="/">Blog</router-link>
                        </li>
                        <li>
                            <router-link
                                class="text-orange-500 hover:text-orange-700"
                                to="/"
                            >Privacy Policy</router-link>
                        </li>
                        <li>
                            <router-link class="text-orange-500 hover:text-orange-700" to="/">Terms</router-link>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="w-1/2 md:w-1/3 flex justify-center">
                <section class="p-4">
                    <h1 class="text-2xl font-serif">Social</h1>
                    <ul class="list-disc">
                        <li>
                            <a
                                class="text-orange-500 hover:text-orange-700"
                                href="https://www.facebook.com/pubpackr/"
                            >Facebook</a>
                        </li>
                        <li>
                            <a
                                class="text-orange-500 hover:text-orange-700"
                                href="https://twitter.com/pubpackr"
                            >Twitter</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="w-full md:w-1/3 h-full flex justify-center items-center">
                <section class="w-2/3 md:w-1/3 flex flex-col items-center md:items-end p-4">
                    <div class="flex flex-col sm:flex-col md:flex-row items-center">
                        <div>
                            <img class="w-10" src="@/assets/logo.svg" alt />
                        </div>
                        <div class="ml-4 mt-2 flex flex-col sm:flex-col md:flex-row items-center">
                            <span class="text-lg text-gray-700">PubPackr</span>
                        </div>
                    </div>
                    <span class="text-sm">
                        <span class="mr-2">by</span>
                        <a
                            class="text-orange-500 hover:text-orange-700 mr-2"
                            href="https://collinslagat.com"
                        >Collins Lagat</a>
                        <font-awesome-icon class="text-pink-500" icon="heart" />
                    </span>
                </section>
            </div>
        </div>
        <div class="flex justify-center w-full h-12">
            <section class="w-4/5 h-full border-t text-sm text-gray-600 flex items-center">
                <span class="mr-3">&copy;</span>
                <span class="mr-3">{{ new Date().getFullYear() }}</span>
                <span class="mr-3">Collins Lagat.</span>
                <span>All Rights Reserved</span>
            </section>
        </div>
    </Footer>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class App extends Vue {}
</script>