 <template>
    <div>
        <!-- Home Page -->
        <header class="flex justify-center flex-wrap">
            <div class="w-1/2 hidden md:flex justify-center">
                <div class="w-2/3 flex flex-col items-start justify-center">
                    <h2 class="text-2xl">PubPackr</h2>
                    <h1 class="md:text-3xl font-sans">Backpack Manager For PUBG Mobile</h1>
                    <button
                        class="text-lg bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
                        @click="getStarted"
                    >Sign Up For Free</button>
                </div>
            </div>
            <div class="w-full md:w-1/2 relative flex justify-center">
                <img class="w-64 z-10" src="@/assets/app.png" alt />
                <div
                    class="w-48 hidden lg:flex h-128 rounded-lg bg-orange-200 absolute left-0 mt-8 ml-48"
                ></div>
            </div>
            <div class="w-full flex md:hidden justify-center mt-10">
                <div class="w-4/5 flex flex-col items-start justify-center">
                    <h2 class="text-xl">PubPackr</h2>
                    <h1 class="text-3xl font-sans">Backpack Manager For PUBG Mobile</h1>
                    <button
                        class="text-lg bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
                        @click="getStarted"
                    >Sign Up For Free</button>
                </div>
            </div>
        </header>
        <!-- What the App Does -->
        <main class="mt-10 flex justify-center">
            <div class="w-4/5">
                <section>
                    <h1 class="text-2xl font-serif">What The App Does</h1>
                    <article>
                        <p>
                            PubPackr allows you to optimise the space that you have to get when you pick up a backpack and a bulletproof vest. It is tempting to want to pick up everything, but part of the fun of the game is learning to manage and being thoughtful about what you pick up and how much of each item you should pick up. This management and thoughtfullness largely depend on your play-style and your favourite weapon and its best complement. PubPackr allows to change and tweak your inventory strategy until it is as good as perfect. allows you to optimise the space that you have get when you pick up a backpack and a bulletproof vest. It is tempting to want to pick up everything, but part of the fun of the game
                            is learning to mange and being thoughtful about what you pick up and how muck of each item you should pick up. This management and thoughtfullness largely depends on your play-style and your favourite
                            weapon and its best complement. PubPackr allows to to change and tweek your inventory strategy until it is as good as perfect.
                            <router-link
                                class="text-orange-500 hover:text-orange-700 border-b-2 border-orange-400 hover:border-orange-600"
                                :to="getStartedRoute"
                            >Start tweeking for free</router-link>
                        </p>
                    </article>
                </section>
                <section>
                    <h1 class="text-2xl font-serif">Why PubPackr?</h1>
                    <article>
                        <p>
                            While you can do inventory management within the official PUBG Mobile &trade; app, the interface may be a bit clanky and hard to use. PubPackr is a more intuitive and easier application to formulate your
                            inventory strategy while being pleasurable to use.
                            <router-link
                                class="text-orange-500 hover:text-orange-700 border-b-2 border-orange-400 hover:border-orange-600"
                                :to="getStartedRoute"
                            >Try PubPackr for free</router-link>
                        </p>
                    </article>
                </section>
                <section class="mt-4">
                    <h1 class="text-2xl font-serif">Problems That The App Solves</h1>
                    <article>
                        <ol class="ml-10 list-decimal text-gray-600" type="1">
                            <li>Unplanned inventory strategy</li>
                            <li>Picking up too much of one or more items</li>
                            <li>Picking up less of an important item</li>
                            <li>Not giving priority to important items</li>
                            <li>Setting unrealistic inventory goals</li>
                        </ol>
                    </article>
                </section>
            </div>
        </main>
        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</template>
 
 <script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import AppFooter from './Footer.vue'

@Component({
    components: {
        AppFooter,
    },
})
export default class App extends Vue {
    getStartedRoute = '/get-started'
    getStarted() {
        this.$router.push(this.getStartedRoute)
    }
}
</script>

<style scoped lang="css">
.h-128 {
    height: 32rem;
}
</style>